$red:     #f5365c !default;
$orange:  #fb6340 !default;
$yellow:  #ffd600 !default;
$green:   #2dce89 !default;

tr td.plus, .plus {
  color: $green !important;
}

tr td.minus, .minus {
  color: $red !important;
}

.diagram-card {
  position: relative;
}

.all-wrapper {
  display: flex;
}

.diagram-wrapper {
  margin-left: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

img.diagram {
  width: 750px;
  height: 750px;
}


//Variables in main diagram

.variables {
  display: flex;
  width: 500px;
  height: 100%;
  margin-top: 300px
}

.value-wrapper {
  margin: 70px 10px 70px 10px;
  height: 50px;
}

.value-name {
  font-size: 20px;
  text-align: right;
}
.value-value {
  text-align: right;
  opacity: 0;
  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -ms-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
}

.delta {
  margin: 70px 0 70px 30px;
  height: 50px;
  line-height: 50px;
  font-size: 30px;
}

.value-value.recently-changed {
  opacity: 1;
}



.path {
  position: absolute;
}

.path.oxygen-pointer {
  top: 444px;
}

.path.velocity-pointer {
  top: 570px;
}


.path.intensity-pointer {
  top: 680px;
}









.heat-loss-wrapper {
  border: 1px solid white;
  position: absolute;
  bottom: 20px;
  right: 20px;
}

.heat-loss-total {
  font-size: 16px;
  padding: 5px;
  border-bottom: 1px solid white;
}
.heat-loss-ring {
  padding-left: 5px;
}




// EXPECTED VALUE

.tim-icons {
  cursor: pointer;
}

.expected-value-wrapper {
   display: flex;
  align-items: center;

  input {
    width: 75px;
    margin-right: 10px;
    margin-left: 10px;
  }

  i {
    margin-left: 20px;
  }
}
